In [1]:
# ðŸŽ¬ Movie Recommendation System  
### Intro to Problem Solving & Programming â€” Mini Project  
### Domain: Entertainment

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
data = {
    "title": ["Avatar", "Titanic", "Inception", "The Dark Knight", "Interstellar", "Avengers", "Joker"],
    "genres": [
        "Action Adventure", "Drama Romance", "Sci-Fi Thriller",
        "Action Crime", "Sci-Fi Adventure", "Action Superhero", "Crime Drama"
    ],
    "overview": [
        "A marine on an alien planet joins the indigenous people.",
        "A tragic love story set on the sinking Titanic.",
        "A skilled thief enters people's dreams to steal secrets.",
        "A vigilante battles crime in Gotham City.",
        "Explorers travel through a wormhole in space.",
        "Earth's mightiest heroes team up to fight a powerful enemy.",
        "A mentally troubled man becomes a criminal mastermind."
    ]
}

df = pd.DataFrame(data)
df

,title,genres,overview
0,Avatar,Action Adventure,A marine on an alien planet joins the indigeno...
1,Titanic,Drama Romance,A tragic love story set on the sinking Titanic.
2,Inception,Sci-Fi Thriller,A skilled thief enters people's dreams to stea...
3,The Dark Knight,Action Crime,A vigilante battles crime in Gotham City.
4,Interstellar,Sci-Fi Adventure,Explorers travel through a wormhole in space.
5,Avengers,Action Superhero,Earth's mightiest heroes team up to fight a po...
6,Joker,Crime Drama,A mentally troubled man becomes a criminal mas...

In [4]:
df["combined"] = df["genres"] + " " + df["overview"]
df["combined"] = df["combined"].fillna("")
df.head()

,title,genres,overview,combined
0,Avatar,Action Adventure,A marine on an alien planet joins the indigeno...,Action Adventure A marine on an alien planet j...
1,Titanic,Drama Romance,A tragic love story set on the sinking Titanic.,Drama Romance A tragic love story set on the s...
2,Inception,Sci-Fi Thriller,A skilled thief enters people's dreams to stea...,Sci-Fi Thriller A skilled thief enters people'...
3,The Dark Knight,Action Crime,A vigilante battles crime in Gotham City.,Action Crime A vigilante battles crime in Goth...
4,Interstellar,Sci-Fi Adventure,Explorers travel through a wormhole in space.,Sci-Fi Adventure Explorers travel through a wo...

In [5]:
vectorizer = TfidfVectorizer(stop_words='english')
vectors = vectorizer.fit_transform(df["combined"])
vectors.shape

(7, 47)

In [6]:
def recommend(movie_title, n=3):
    if movie_title not in df["title"].values:
        return ["Movie not found in the dataset."]
    
    index = df[df["title"] == movie_title].index[0]
    similarity_scores = cosine_similarity(vectors[index], vectors).flatten()
    similar_indices = similarity_scores.argsort()[::-1][1:n+1]
    
    return df["title"].iloc[similar_indices].tolist()

In [7]:
recommend("Avatar")

['Interstellar', 'Inception', 'The Dark Knight']

In [8]:
recommend("Inception")

['Interstellar', 'Avatar', 'Avengers']

In [9]:
recommend("Joker")

['The Dark Knight', 'Titanic', 'Interstellar']